:root {
    --primary-color: #1992d4;
    --secondary-color: #efb42c;
    --white-color: #fff;
    --dark-primary: #186e9c;
    --black-color: #000;
    --background-color: #e2e8f0;
    --p-text-color: #615d5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    font-family: Helvetica;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.gap-1rem {
    gap: 1rem;
}

.border-none {
    border: none;
}

.rounded {
    border-radius: 4px;
}

.circle {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.container {
    height: 100%;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.header {
    grid-area: 1/2/2/3;
    background-color: var(--white-color);
    padding: 1rem;
}

.header-row {
    align-items: center;
    gap: 0.75rem;
}

.header .row-1 {
    gap: 3rem;
}

.header .row-2 {
    justify-content: space-between;
}

.header .row-1 .col-1 {
    flex: auto;
}

.header .row-1 .col-2 {
    justify-content: end;
}

form input {
    background-color: var(--background-color);
    border-radius: 1rem;
    font-size: 1em;
    height: 1.6rem;
    padding: 0.3em 0.5em;
    color: var(--p-text-color);
    width: max(12.5rem, 80%);
}

input:focus {
    outline: none;
    box-shadow: 0 0 6px 0.5px var(--primary-color);
}

.header .row-1 .header-col,
.profile {
    align-items: center;
    padding: 4px;
}

.profile-img {
    width: 1.9rem;
    height: 1.9rem;
    background-color: var(--secondary-color);
    flex-shrink: 0;
}

.profile-img img {
    width: 75%;
    display: inline-block;
    margin: auto;
}

.profile:hover {
    border-radius: 1rem;
    background-color: var(--background-color);
}

.avatar-card {
    align-items: center;
    gap: 0.5rem;
}

.avatar-card p {
    font-weight: bold;
    font-size: 0.8rem;
}

.avatar-card-img {
    flex-shrink: 0;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--secondary-color);
}

.avatar-card-img img {
    width: 75%;
    display: inline-block;
    margin: auto;
}

.buttons {
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons>button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    color: var(--white-color);
    align-self: center;
    opacity: 0.9;
    cursor: pointer;
}

.buttons>button:hover {
    opacity: 1;
}

.buttons>button:active {
    opacity: 0.8;
}

.sidebar {
    grid-row: 1/4;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    flex-direction: column;
    row-gap: 2.7rem;
    fill: var(--white-color);
}

.sidebar .row-1,
.option {
    align-items: center;
}
.sidebar .row-1 svg {
    width: 2.8rem;
    height: 2.8rem;
}
.options {
    flex-direction: column;
    gap: 0.7rem;
    padding-left: 0.25rem;
}

.option {
    padding: 0.375rem;
}

.option:hover {
    opacity: 0.7;
    background-color: var(--dark-primary);
    cursor: pointer;
}

.option svg,
.card svg,
.header svg {
    height: 1.5rem;
    width: 1.5rem;
}

.main {
    background-color: var(--background-color);
    box-shadow: inset 0px 1px 12px 2px rgba(0, 0, 0, 0.15);
    overflow: auto;
    grid-template-columns: 3fr 13.75rem;
    padding: 1rem;
}

.main h4 {
    margin-bottom: 0.5rem;
}

.cards {
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
}

.card {
    background-color: var(--white-color);
    border-left: 8px solid var(--secondary-color);
    border-radius: 0.7rem;
    padding: 1rem;
    /* width: 20rem; */
    height: 11rem;
    flex-direction: column;
    gap: 0.25rem;
}

.card-icons {
    gap: 0.75rem;
    margin: auto 0 0 auto;
}

.card p {
    color: var(--p-text-color);
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

.alerts,
.trendy-items {
    background-color: var(--white-color);
    padding: 1rem;
}

.alert {
    border-bottom: 0.5px solid #d4cfcf;
    padding: 1rem 0.4rem;
}

.alert:first-child {
    padding-top: 0.5rem;
}

.alert:last-child {
    border: none;
    padding-bottom: 0.5rem;
}

.trending {
    margin-top: 1rem;
}

.trendy-item {
    align-items: center;
    margin-bottom: 1rem;
}

.stickies p {
    font-size: 0.6rem;
    color: var(--p-text-color);
}

.stickies h6 {
    margin: 0.1rem auto;
}

.trendy-img {
    width: 2rem;
    height: 2rem;
}

.tegan {
    background-color: var(--background-color);
}

.morgan {
    background-color: var(--secondary-color);
}

.kendali {
    background-color: gray;
}

.alex {
    background-color: pink;
}

.trendy-items img {
    width: 65%;
    display: inline-block;
    margin: auto;
}

.bell:hover {
    fill: var(--primary-color);
    animation: vibrate 0.5s linear infinite;
}

@keyframes vibrate {
    0% {
    transform: rotateZ(40deg);  
    }
  20% {
    transform: rotateZ(-40deg);  
  }
  40% {
    transform: rotateZ(30deg);  
  }
  60% {
    transform: rotateZ(-30deg);
  }
  80% {
    transform: rotateZ(20deg);  
  }
  90% {
    transform: rotateZ(-10deg);  
  }
  100% {
    transform: rotateZ(0deg);  
  }
}

@media screen and (max-width: 886px) {
    body,html {
      font-size: 80%;
    }
}
@media screen and (max-width:700px ) {
    body,html {
        font-size: 60%;
      }
}